name: Build and deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/mayanbrahmamsiddoju/ecommerce-application-frontend:latest

      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: ghcr.io/mayanbrahmamsiddoju/ecommerce-application-backend:latest

  deploy-to-cluster:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Deploy manifests
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl set image deployment/frontend-deployment frontend=ghcr.io/mayanbrahmamsiddoju/ecommerce-application-frontend:latest -n ecommerce
          kubectl set image deployment/backend-deployment backend=ghcr.io/mayanbrahmamsiddoju/ecommerce-application-backend:latest -n ecommerce
          kubectl apply -f k8s/frontend-service.yaml -n ecommerce
          kubectl apply -f k8s/backend-service.yaml -n ecommerce
          kubectl apply -f k8s/ingress.yaml -n ecommerce
